#components_movie_common_container {
	width: 70%;
	margin-left: 15%;
	height: 100%;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(255, 255, 255);
}

#components_movie_current {
	-moz-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 10px 10px #888;
	box-shadow: 0 0 10px 10px #888;
}

.components_movie_current_info_title {
}

.components_movie_current_info_meta_releaseYear {
}